<!DOCTYPE html>
<html>
<head>
	{{ include('components/head.html.twig') }}
	{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>
<body class="border my-0">
    <!-- Layout wrapper -->
    {% block layout %}
        <div class="layout-wrapper layout-content-navbar border">
        <div class="layout-container">
            <!-- Menu -->

			{% if app.user.roles[0] == 'ROLE_ADMIN' %}
                {{ include('components/aside.html.twig') }}
            {% endif %}


            	{% if app.user.roles[0] == 'ROLE_APPLICANT' %}
                {{ include('components/aside-applicant.html.twig') }}
            {% endif %}

            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

				{{ include('components/navbar.html.twig') }}

                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y  content-container" style="height:90vh; overflow-y: scroll;">
                        {% block content %}

						{% endblock %}
                    </div>
                    <!-- / Content -->
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    {% endblock %}
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    {{ include('components/scripts.html.twig') }}
    <!-- endbuild -->
	{% block javascript %}

	{% endblock %}
    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{{ asset('assets/js/main.js') }}"></script>


    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
