{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block content %}
    <h1>Request - Ticketing</h1>
    {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }}" role="alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <a class="btn btn-primary" href="{{ path('app_applicant_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start_date</th>

                <th>Status</th>
                <th>Priority</th>
                <th>Applicant</th>

                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>

                {% if project.startDate == null %}
                <td>Pas assigner</td>
                {% else %}
                <td>{{ project.startDate }}</td>
                    {% endif %}

                <td>{{ project.status }}</td>
                <td>{{ project.priority }}</td>
                <td>{{ project.applicant }}</td>

                <td>{{ project.content }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_applicant_show', {'id': project.id}) }}">show</a>
                    <a class="btn btn-warning btn-sm" href="{{ path('app_applicant_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
