{% extends 'base.html.twig' %}

{% block content %}
	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted">Projects Management /</span>
		Edit project
	</h4>
	<form action="" method="post" id="edit_project_form">
		<div class="card">
			<h5 class="card-header">Project informations</h5>
			<div class="card-body pt-4">
				<div class="row g-3 mb-3">
					<div class="col-12">
						<label for="title" class="form-label">Project title</label>
						<input type="text" class="form-control" placeholder="Enter project name" value="{{ project.title }}" name="title" id="title">
					</div>
                    <div class="col-12">
                        <label for="title" class="form-label">Project content</label>
                        <textarea placeholder="Detail" class="form-control" value="{{ project.content }}" name="content" id="content"></textarea>
                    </div>
				</div>
				<div class="row g-3 mb-3">
					<div class="col-12 col-md-4">
						<label for="title" class="form-label">Client</label>
						<select class="form-select" name="client_id" id="client_id">
							<option value="">Select the client</option>
							{% for client in clients %}
                                <option {{ client.id == project.client.id ? 'selected' : '' }} value="{{ client.id }}">{{ client.lastName ~ ' ' ~ client.firstName }}</option>
                            {% endfor %}
						</select>
					</div>
					<div class="col-12 col-md-4">
						<label for="title" class="form-label">DeadLine</label>
						<input type="date" class="form-control" name="deadline" value="{{ project.deadLine }}" id="deadline">
					</div>
					<div class="col-12 col-md-4">
						<label for="title" class="form-label">Priority</label>
						<input type="text" class="form-control" name="priority" value="{{ project.priority }}" id="priority">
					</div>
				</div>
				<div class="row g-3 mb-3">
					<div class="col-4">
						<label for="title" class="form-label">Tags</label>
                        <input type="text" class="form-control" placeholder="Project tags" value="{{ project.tags|map(p => p.name)|join(',') }}" name="tags" id="tags">
					</div>
                    <div class="col-4">
                        <label for="title" class="form-label">Type</label>
                        <input type="text" class="form-control" placeholder="Project type" value="{{ project.type }}" name="type" id="type">
                    </div>
                    <div class="col-4">
                        <label for="title" class="form-label">Tags</label>
                        <input type="text" class="form-control" placeholder="Project sandbox" value="{{ project.sandboxes }}" name="sandbox" id="sandbox">
                    </div>
				</div>
				<div class="row g-3 mb-3">
                    <div class="col-12 col-md-4">
                        <label for="title" class="form-label">Applicant</label>
                        <select class="form-select" name="applicant" id="applicant">
                            <option value="">Select the applicant</option>
                            {% for applicant in project %}
                                <option {{ applicant.id == project.applicant.id ? 'selected' : '' }} value="{{ applicant.id }}">{{ applicant.firstname }}</option>
                            {% endfor %}
                        </select>
                    </div>
					<div class="col-12 col-md-4">
						<label for="title" class="form-label">Manager</label>
						<select class="form-select" name="manager_id" id="manager_id">
							<option value="">Select the manager</option>
							{% for manager in managers %}
                                <option {{ manager.id == project.user.id ? 'selected' : '' }} value="{{ manager.id }}">manager {{manager.firstname}}</option>
                            {% endfor %}
						</select>
					</div>
					<div class="col-12 col-md-4">
						<label for="title" class="form-label">Team</label>
						<select class="form-select" name="team_id" id="team_id">
							<option value="">Asign the project to a team</option>
							{% for team in teams %}
                                <option {{ team.id == project.team.id ? 'selected' : '' }} value="{{ team.id }}">Team {{ team.name }}</option>
                            {% endfor %}
						</select>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col d-flex gap-2 justify-content-end">
						<button type="button"  class="btn btn-secondary back_btn">Back</button>
						<button type="submit" class="btn btn-primary save_btn" data-id="{{ project.id }}">Save</button>
					</div>
				</div>
			</div>
		</div>
	</form>
    <!--tagify path-->
    <script src="{{ asset('assets/js/tagify.min.js') }}"></script>
    <!-- tags input handler -->
    {% block javascript %}

        <script>
            //set active page
            $('#projects').toggleClass('active');
        </script>
        <!--back button-->
        <script>
            $(document).ready(function(){
                $(".back_btn").click(function(){
                    let url = "{{ path('project_list') }}";
                    window.location.href = url;
                })
            })
        </script>
        <script>
            let tags = document.querySelector('input[name=tags]');
            new Tagify(tags);
        </script>
        <!-- form validatoin -->
        <script>
            $(document).ready(function(){
                $("#edit_project_form").submit(function (event) {
                    event.preventDefault();
                    let fields = [
                        $("#title"),
                        $("#client_id"),
                        $("#deadline"),
                        $("#manager_id"),
                        $("#team_id")
                    ];

                    let isValid = true;

                    fields.forEach(field => {
                        if (field.val() === "") {
                            field.addClass("error");
                            isValid = false;
                        } else {
                            field.removeClass("error");
                        }
                    });

                    $("#cover").addClass('cover');
                    showLoadingAnimation();

                    if(isValid){
                        let id = $('.save_btn').data('id');
                        let url = "{{ path('update_project', {id: 'p_id'}) }}";
                        $.ajax({
                            url: url.replace('p_id', id),
                            method: 'POST',
                            data: $(this).serialize()
                        }).then((response) => {
                            if(response == 'updated'){
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Updated',
                                    text: 'The project has been updated.',
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'OK'
                                }).then(function(){
                                    Swal.fire({
                                        icon: 'question',
                                        title: 'Go back to project ?',
                                        showCancelButton: true,
                                        confirmButtonColor: '#808080',
                                        cancelButtonColor: '#3085d6',
                                        confirmButtonText: 'Go back',
                                        cancelButtonText: 'Stay here'
                                    }).then((result) => {
                                        if(result.isConfirmed){
                                            window.location.href = "{{ path('project_list') }}";
                                        }
                                    })
                                });
                            }
                        }).fail(function(){
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'An error occurred.',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            });
                        })
                    }

                })
            })
        </script>
    {% endblock %}
{% endblock %}
